{% extends "admin/layout.html" %}
{% block title %}tewi - Attachment Policies{% endblock %}
{% block content %}
<main class="admin-attachment-policies">
  <div class="admin-list-header">
    <div>
      <a href="/admin/attachment-policies/create">New Attachment Policy</a>
    </div>
  </div>
  <div class="admin-list">
    {% for policy in attachment_policies %}
    <div class="admin-list-item">
      <div class="admin-list-item-details">
        <span>{{ policy.board.name }}</span>
        <span>{{ policy.mime_types.join(", ") }}</span>
        <span>{{ policy.size_limit }}</span>
        <span>{{ policy.enable_spoilers }}</span>
      </div>
      <div class="admin-list-item-details-actions">
        <a href="/admin/attachment-policies/policy/{{ policy.id }}/delete">Delete</a>
        <a href="/admin/attachment-policies/policy/{{ policy.id }}">Edit</a>
      </div>
    </div>
    {% else %}
    <div class="admin-list-item" style="justify-content: center;">
      <div>
        No Attachment Policies
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</main>
{% endblock %}