{% extends "layout.html" %}
{% block title %}tewi - Home{% endblock %}
{% block head %}
<script src="/static/home.js"></script>
{% endblock %}
{% block content %}
<main class="login">
  <div class="container-info board-index">
    {% if let Some(error) = validation %}
    <div class="login-error">
      <span class="login-error-text">{{ error.message }}</span>
    </div>
    {% endif %}
    <form class="login-form" method="post">
      <div class="input-group horizontal">
        <label for="username-input">Username</label>
        <input type="text" id="username-input" name="username" />
      </div>
      <div class="input-group horizontal">
        <label for="password-input">Password</label>
        <input type="password" id="password-input" name="password" />
      </div>
      <button type="submit" class="login-button">Login</button>
    </form>
  </div>
</main>
{% endblock %}