<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tewi - Home</title>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <link rel="stylesheet" href="/static/inter.css" />
    <link rel="stylesheet" href="/static/main.css" />
    <script src="/static/home.js"></script>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="site-branding-container">
          <div class="site-branding">
            <a href="/" class="site-logo-main">
              <h1 aria-hidden="true">^-^</h1>
            </a>
            <a href="/" class="site-logo-text">
              <span id="header-ascii-label">tewi</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <main class="home">
        <div class="container-narrow board-index">
          {% for b_cat in categories %}
            <div class="board-category">
              {% if let Some(cat_name) = b_cat.0 %}
                <span>{{ cat_name }}</span>
              {% else %}
                <span>Other</span>
              {% endif %}
              <hr />
              <ul>
                {% for board in b_cat.1 %}
                  <li class="board-list-entry">
                    <a href="/board/{{ board.slug }}">{{ board.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </main>
    </div>
  </body>
</html>
