{% extends "layout.html" %}
{% import "components/post.html" as post_macro %}
{% import "components/post-form.html" as post_form_macro %}
{% import "components/thread-controls.html" as thread_controls %}
{% block title %}/{{ board.slug }}/ - {{ board.name }}{% endblock %}

{% block nav %}
  <div class="board-nav">
    {% for slug in board_slugs %}
      <div class="board-slug"><a href="/board/{{ slug }}">/{{ slug }}/</a></div>
    {% endfor %}
  </div>
{% endblock %}

{% block board_info %}
  /{{ board.slug }}/ - {{ board.name }}
{% endblock %}

{% block content_hat %}
  {% call post_form_macro::post_form(form_route, "post") %}
  {% endcall %}
{% endblock %}

{% block content %}
  <main class="thread-page">
    <div class="container">
      <div
        class="
        thread-content
        {% if thread.hidden_at.is_some() %}
          thread-hidden
        {% endif %}"
      >
        {% if let Some(op_post) = thread.op_post %}
          {% if let Some((session,admin)) = admin_session %}
            <div class="admin-thread-options">
              <div class="admin-thread-status">
                {% if thread.hidden_at.is_some() %}
                  <span class="thread-hidden-message"
                    >This thread is hidden</span
                  >
                {% endif %}
              </div>
              <div class="admin-thread-actions">
                {% call thread_controls::thread_controls(board.slug, op_post.post_number, thread=thread) %}
                {% endcall %}
              </div>
            </div>
          {% endif %}
          {{ post_macro::post(post=op_post, board_slug=board.slug, op_post_number=op_post.post_number, admin_session=admin_session, is_op=true) }}
          {% for post in thread.replies %}
            <div class="post-container">
              {{ post_macro::post(post=post, board_slug=board.slug, op_post_number=op_post.post_number, admin_session=admin_session) }}
            </div>
          {% endfor %}
        {% else %}
          <div>This thread has no OP, thats weird.</div>
        {% endif %}
        <hr />
      </div>
    </div>
  </main>
{% endblock %}
