@import url(pre-flight.css);
@import url(page-transition.css);

@import url(board-index.css);
@import url(login.css);
@import url(post-form.css);
@import url(post.css);
@import url(board-page.css);
@import url(thread-page.css);
@import url(error.css);

.header {
  padding: var(--spacing-normal) var(--spacing-large);
  margin-bottom: var(--spacing-4xl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3xl);
}

.header nav {
  display: flex;
  gap: var(--spacing-extra-large);
  justify-content: center;
}

.header nav :first-child {
  align-self: flex-start;
}

.header hr {
  width: 100%;
}
.header .container {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
}

.site-branding-container {
  display: flex;
  justify-content: center;
}

.site-branding {
  position: relative;
}

.site-branding .site-logo-main {
  height: 4em;
  width: 11em;
  font-weight: 700;
}

.site-branding .site-logo-main h1 {
  font-size: 8em;
  margin: 0;
  line-height: 0.7;
}

.site-branding .site-logo-text {
  font-weight: 700;
  position: absolute;
  right: -2em;
  bottom: 1.7em;
}

.board-info-container {
  margin-bottom: var(--spacing-2xl);
  text-align: center;
}
.board-info-container .board-info {
  font-size: var(--font-size-sub-title);
  font-weight: 700;
  letter-spacing: 0.089em;
}

.board-nav {
  flex: 1;
  display: flex;
  gap: var(--spacing-extra-large);
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-4xl);
}

.container-info {
  width: 100%;
  max-width: var(--width-container-info);
}

.container-narrow {
  width: 100%;
  max-width: var(--width-container-narrow);
}

.container {
  width: 100%;
  max-width: var(--width-container);
}

main.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-group > input:required + label ::after,
.input-group > textarea:required + label::after {
  content: "*";
}

.input-group.horizontal {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-small);
  justify-content: space-between;
}
.input-group.vertical {
  display: flex;
  /* column reverse so that we can abuse sibling selectors to deal with input dependant label styling */
  flex-direction: column-reverse;
  gap: var(--spacing-small);
}
