@import url(pre-flight.css);
@import url(page-transition.css);

@import url(board-index.css);
@import url(login.css);
@import url(post-form.css);
@import url(post.css);
@import url(board-page.css);

.header {
  padding: var(--spacing-normal) var(--spacing-large);
  margin-bottom: var(--spacing-4xl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-extra-large);
}

.header nav {
  display: flex;
  gap: var(--spacing-extra-large);
  justify-content: center;
}

.header nav :first-child {
  align-self: flex-start;
}

.board-nav {
  flex: 1;
  display: flex;
  gap: var(--spacing-extra-large);
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-4xl);
}

.container-info {
  width: 100%;
  max-width: var(--width-container-info);
}

.container-narrow {
  width: 100%;
  max-width: var(--width-container-narrow);
}

.container {
  width: 100%;
  max-width: var(--width-container);
}

main.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-group > input:required + label ::after,
.input-group > textarea:required + label::after {
  content: "*";
}

.input-group.horizontal {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-small);
  justify-content: space-between;
}
.input-group.vertical {
  display: flex;
  /* column reverse so that we can abuse sibling selectors to deal with input dependant label styling */
  flex-direction: column-reverse;
  gap: var(--spacing-small);
}
