.page-nav-container {
  margin-top: var(--spacing-4xl);
}
.page-nav-container nav {
  display: flex;
  justify-content: center;
}

.page-nav-container .pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-normal);
  background-color: var(--bg-secondary);
  margin: 0;
  padding: var(--spacing-large) var(--spacing-extra-large);
}

.page-nav-container .pagination li::marker {
  content: '';
}
