.post {
  flex: 1;
  display: grid;
  row-gap: var(--spacing-large);
  column-gap: var(--spacing-large);
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1.3em 1fr auto;
}

.backlinks-mobile {
  display: none;
}

.attachments-container {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.attachments-container .attachment {
  max-width: 160px;
}

.post-header {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.post-body {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
  padding-left: var(--spacing-large);

  blockquote {
    margin-left: 0px;
    color: var(--green-light);
    &:before {
      content: '>';
    }
  }
}

.post-body > p {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.5;
}

.post.attachment-expanded .attachments-container {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.attachment-expanded .attachments-container .attachment.expanded {
  max-width: 56em;
}

.attachment-expanded .post-header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.attachment-expanded .post-body {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
}
.attachment-expanded.post .post-container {
  grid-column-start: 1;
  grid-column-end: 3;
}

.post-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: auto;
  display: flex;
}

.post-container .post {
  background-color: var(--bg-secondary);
  padding: var(--spacing-large) var(--spacing-large);
  flex: unset;
}

.post-header {
  display: flex;
  gap: var(--spacing-small);
  font-size: var(--font-size-caption);
  max-height: 1.4em;
}

.post-header * {
  font-size: var(--font-size-caption);
}

.trip-name {
  font-weight: 600;
  color: var(--text-tertiary);
}

.op-title {
  font-weight: 600;
  color: var(--text-secondary);
}

.post-header-extra {
  display: flex;
  margin-left: var(--spacing-2xl);
  gap: var(--spacing-small);
}

.attachments-container .attachment {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-normal);
}

.attachments-container .attachment .filename {
  font-size: var(--font-size-caption);
  font-family: var(--font-mono);
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow-x: hidden;
  width: min-content;
  max-width: 100%;
}

.popup-dialog {
  background-color: var(--bg-primary);
  z-index: 1;
  padding: 0 var(--spacing-extra-large) var(--spacing-extra-large)
    var(--spacing-extra-large);
}

.dialog-header {
  display: flex;
  justify-content: end;
  height: var(--spacing-extra-large);
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-small);
}

.dialog-header .dialog-header-button {
  border: 0;
  background: none;
}
.dialog-header .dialog-header-button::before {
  content: '[';
  border: 0;
  background: none;
}
.dialog-header .dialog-header-button::after {
  content: ']';
  border: 0;
  background: none;
}

.post-removed,
.post-banned {
  color: var(--orange);
}
.post-banned {
  grid-column-start: 2;
}

.post.multiple-attachments {
  grid-template-rows: 1fr 1.3em auto auto;
}

.post.multiple-attachments .attachments-container,
.post.multiple-attachments.multiple-attachments .attachments-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-large);
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 4;
}

.multiple-attachments .post-header {
  grid-row-start: 2;
  grid-row-end: 2;
}

.multiple-attachments .post-body {
  grid-row: 3;
}

@media (width <= 640px) {
  .post {
    flex: 1;
    display: grid;
    row-gap: var(--spacing-large);
    column-gap: var(--spacing-large);
    grid-template-rows: auto 1fr auto;
    padding: 0 var(--spacing-normal);
  }

  .backlinks {
    display: none;
  }

  .backlinks-mobile {
    display: flex;
    gap: var(--spacing-normal);
  }
  .backlinks-mobile .backlink {
    font-size: var(--font-size-caption);
  }

  .attachments-container {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .attachments-container .attachment {
    max-width: 160px;
  }

  .post-header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-height: unset;

    .trip-name-container {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .post-header-extra {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .op-title-container {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;

      .op-title {
        word-break: break-all;
      }
    }

    .post-number-container {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 3;
      max-height: 1.3em;
      display: flex;
      justify-content: end;
    }

    .post-date-container {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 3;
    }
  }

  .post-body {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    padding-left: var(--spacing-normal);
  }

  .post-body > p {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5;
  }

  .post-banned {
    grid-column-start: 1;
    grid-column: span 2;
  }

  .post.attachment-expanded .attachments-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .attachment-expanded .attachments-container .attachment.expanded {
    max-width: 90vw;
  }

  .attachment-expanded .post-header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .attachment-expanded .post-body {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
  }
  .attachment-expanded.post .post-container {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .post-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: auto;
    display: flex;
  }

  .post.multiple-attachments {
    grid-template-rows: 1fr auto auto auto;
  }

  .post.multiple-attachments .attachments-container,
  .post.multiple-attachments.multiple-attachments .attachments-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-large);
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .multiple-attachments .post-header {
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .multiple-attachments .post-body {
    grid-row: 3;
  }
}
