.page-threads {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-3xl);
}

.thread-preview hr {
  margin-top: var(--spacing-2xl);
}

.thread {
  display: flex;
  gap: var(--spacing-large);
}

.thread-posts > div {
  margin-top: var(--spacing-normal);
}
