main.thread-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thread-content .post-truncated {
  grid-column-start: 2;
}

.thread-content .replies-truncated {
  margin-bottom: var(--spacing-large);
}
.thread-content .replies-truncated > span {
  font-size: var(--font-size-caption);
}
.thread-content .replies-truncated > span > a {
  font-size: var(--font-size-caption);
}

.thread-content {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-large);
  column-gap: var(--spacing-large);
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1.3em 1fr auto;
}
.thread-content.thread-hidden {
  background-color: var(--bg-secondary);
  padding: var(--spacing-normal) var(--spacing-normal);
  border: 2px dashed var(--gray);
}

.admin-thread-options {
  display: flex;
}
.admin-thread-options button.link {
  font-size: var(--font-size-caption);
  font-family: var(--font-mono);
}

.admin-thread-status {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.admin-thread-actions {
  flex: 1;
  display: flex;
  gap: var(--spacing-small);
  justify-content: end;
}

.thread-hidden-message {
  font-family: var(--font-mono);
  font-size: var(--font-size-caption);
  text-align: center;
  display: flex;
  flex: 0.5;
  text-align: center;
  justify-content: center;
}

.sticky-button {
  background-color: unset;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  font-size: var(--font-size-caption);
}
.sticky-button::before {
  content: '[';
  font-weight: 400;
  color: var(--text-primary);
}
.sticky-button::after {
  content: ']';
  font-weight: 400;
  color: var(--text-primary);
}

.sticky-button:hover {
  color: var(--green);
}

.sticky-button.sticky-active:hover {
  color: var(--orange);
}

@media (width <= 640px) {
  .admin-thread-options {
    flex-wrap: wrap;
  }
  .admin-thread-options .admin-thread-status {
    width: 100%;
    flex: unset;
    justify-content: center;

    .thread-hidden-message {
      flex: 1;
    }
  }
  .admin-thread-options .admin-thread-actions {
    width: 100%;
    flex: unset;
    justify-content: center;
  }
}
