{% import "components/ban-form.html" as ban_form %}
{% import "components/delete-form.html" as delete_form %}
{% import "components/post-image.html" as post_image %}
{% import "components/attachment-removed.html" as attachment_removed %}
{% macro post(post, board_slug, op_post_number, admin_session, is_op=false, should_truncate=false) %}
  <div
    class="post"
    x-bind:class="{ 'image-expanded': open }"
    x-data="{height: 140, width: 160, open: false}"
    id="{{ post.post_number }}"
  >
    <div class="attachment-container">
      {% if let Some(attachment) = post.attachments.get(0) %}
        {% if attachment.removed_at.is_some() %}
          {% call attachment_removed::removed_image() %}
          {% endcall %}
        {% else %}
          {% call post_image::post_image(attachment) %}
          {% endcall %}
        {% endif %}
      {% endif %}
    </div>
    <div class="post-header">
      {% if is_op %}
        <div class="op-title">{{ post.title| assigned_or("") }}</div>
      {% endif %}
      <span class="trip-name">{{ post.name | assigned_or("Anonymous") }}</span>
      <span class="post-date">{{ post.created_at }}</span>
      <a
        class="post-number"
        href="/board/{{ board_slug }}/thread/{{ op_post_number }}{% if !is_op %}#{{ post.post_number }}{% endif %}"
      >
        ID. {{ post.post_number }}
      </a>
      <div class="backlinks">
        {% for backlink in post.backlinks %}
          <a
            class="backlink"
            href="/board/{{ board_slug }}/thread/{{ op_post_number }}#{{ backlink.post_number }}"
          >
            &#8617;{{ backlink.post_number }}
          </a>
        {% endfor %}
      </div>
      {% if let Some((session,admin)) = admin_session %}
        <div class="post-header-extra" x-data="{sticky: false}">
          {% call delete_form::delete_form(board_slug, op_post_number, post.post_number, is_op) %}
          {% endcall %}
          {% call ban_form::delete_or_ban_form(board_slug, op_post.post_number) %}
          {% endcall %}
        </div>
      {% endif %}
    </div>
    <div class="post-body">
      {% if post.removed_at.is_some() %}
        <div class="post-removed">[ REMOVED BY MODERATOR ]</div>
      {% else %}
        {{ post.content_rendered | safe }}
      {% endif %}
    </div>
    {% if should_truncate && post.content_rendered.len() > 1000 %}
      <div class="post-truncated">
        <span
          >Post too long.
          <a
            href="/board/{{ board_slug }}/thread/{{ op_post_number }}{% if !is_op %}#{{ post.post_number }}{% endif %}"
            >Click here</a
          >
          to view the full text.</span
        >
      </div>
    {% endif %}
    {% if post.associated_ban_id.is_some() %}
      <div class="post-banned">[ USER BANNED FOR THIS POST]</div>
    {% endif %}
  </div>
{% endmacro %}
