{% macro post(post) %}
<div class="thread">
  <div class="attachment-container">
    <img class="attachment" src="" width="140" height="160" />
    <span>filename.jpeg</span>
  </div>
  <div class="thread-posts">
    <div>
      <span class="trip-name">{{ post.name }}</span>
      <a class="post-number" href="{{ thread_info.op_post.post_number }}">ID.
        {{post.post_number}}</a>
      <div class="op-title">{{ post.title }}</div>
      <div class="post-body">
        {{ op_post.content | linebreaks }}
      </div>
    </div>
    {% if caller is defined %}
    {{ caller() }}
    {% else %}
    Empty dialog without content
    {% endif %}
  </div>
</div>
{% endmacro %}