{% macro post_image(attachment) %}
  <img
    x-data="{thumbnail:'{{ crate::util::thumbnail_src(attachment.id) }}',image:'{{ crate::util::attachment_src(attachment.id) }}'}"
    class="attachment"
    src="{{ crate::util::thumbnail_src(attachment.id) }}"
    x-bind:src="open ? image : thumbnail"
    x-bind:width="open ? undefined : width"
    x-on:click="open = !open"
  />
  <a class="filename" href="{{ crate::util::attachment_src(attachment.id) }}">
    {{ attachment.original_filename }}
  </a>
{% endmacro %}
