{% import "components/post.html" as post_macro %}
{% import "components/thread-controls.html" as thread_controls %}
{% macro thread_preview(thread_info, board_slug, admin_session) %}
  <div class="thread-preview">
    <input type="checkbox" class="fold-thread" />
    {% if thread_info.stickied_at.is_some() %}
      <span class="stickied-icon">📌</span>
    {% endif %}
    <div
      class="
      thread-content
    {% if thread_info.hidden_at.is_some() %}
        thread-hidden
      {% endif %}
  "
    >
      {% if let Some(op_post) = thread_info.op_post %}
        {% if let Some((session,admin)) = admin_session %}
          <div class="admin-thread-options">
            <div class="admin-thread-status">
              {% if thread_info.hidden_at.is_some() %}
                <span class="thread-hidden-message">This thread is hidden</span>
              {% endif %}
            </div>
            <div class="admin-thread-actions">
              {% call thread_controls::thread_controls(board_slug, op_post.post_number, thread=thread_info) %}
              {% endcall %}
            </div>
          </div>
        {% endif %}
        {{ post_macro::post(post=op_post, board_slug=board_slug, op_post_number=op_post.post_number, admin_session=admin_session, is_op=true, should_truncate=true) }}
        {% if thread_info.reply_count > 1 %}
          <div class="replies-truncated">
            <span
              >{{ thread_info.reply_count }}
              {{ thread_info.reply_count |  pluralize("reply", "replies") }}
              {% if thread_info.reply_attachment_count > 0 %}
                , {{ thread_info.reply_attachment_count }}
                image{{ thread_info.reply_attachment_count | pluralize }}
              {% endif %}
              <a href="/board/{{ board_slug }}/thread/{{ op_post.post_number }}"
                >Click here</a
              >
              to view.</span
            >
          </div>
        {% endif %}
        {% for post in thread_info.replies %}
          <div class="post-container">
            {{ post_macro::post(post=post, board_slug=board_slug, op_post_number=op_post.post_number, admin_session=admin_session, is_op=false, should_truncate=true) }}
          </div>
        {% endfor %}
      {% else %}
        <div>This thread has no OP, thats weird.</div>
      {% endif %}
    </div>
    <hr />
  </div>
{% endmacro %}
